{{!-- Adapted From Foundry Core settings-config.html --}}
{{#*inline "settingPartial"}}
<div class="form-group">
  <label for="{{this.scope}}.{{this.key}}">{{this.name}}</label>
  <div class="form-fields">
    {{#if this.isCheckbox}}

    <input type="checkbox" name="{{this.scope}}.{{this.key}}" id="{{this.scope}}.{{this.key}}" data-dtype="Boolean"
      {{checked this.value}} />

    {{else if this.isSelect}}
    <select name="{{this.scope}}.{{this.key}}" id="{{this.scope}}.{{this.key}}" data-dtype="Number">
      {{#select this.value}}
      {{#each this.choices as |name k|}}
      <option value="{{k}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>

    {{/if}}
  </div>

  <p class="notes">{{this.hint}}</p>
</div>
{{/inline}}

<form class="{{classes}}" autocomplete="off">

  {{log 'settings' this}}
  <div>
    <nav class="sheet-tabs tabs">
      <a class='item' data-tab='config'>{{localize 'DEV.configMenu.ConfigDebug'}}</a>
      <a class='item' data-tab='packages'>{{localize 'DEV.configMenu.PackageSpecific'}}</a>
    </nav>

    <section class='tab' data-tab='config'>
      {{#each debugOverrideFormData}}
      {{> settingPartial}}
      {{else}}
      <p class="notes">{{localize 'SETTINGS.None'}}</p>
      {{/each}}
    </section>

    <section class='tab' data-tab='packages'>
      <p class="notes">{{localize 'DEV.configMenu.Hint'}}</p>

      <h2>{{localize 'DEV.configMenu.DebugMode'}}</h2>
      {{#each packageSpecificDebugFormData.boolean}}
      {{> settingPartial}}
      {{else}}
      <p class="notes">{{localize 'SETTINGS.None'}}</p>
      {{/each}}

      <h2>{{localize 'DEV.configMenu.LogLevel'}}</h2>
      {{#each packageSpecificDebugFormData.level}}
      {{> settingPartial}}
      {{else}}
      <p class="notes">{{localize 'SETTINGS.None'}}</p>
      {{/each}}
    </section>
  </div>

  <div class="flexrow">
    <button type='submit'><i class="fas fa-save"></i> {{localize 'SETTINGS.Save'}}</button>
    <button type='button' data-action="reset"><i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}</button>
  </div>
</form>