{{!-- Adapted From Foundry Core settings-config.html --}}
{{#*inline "settingPartial"}}
<div class="form-group">
  <label for="{{this.scope}}.{{this.key}}">{{this.name}}</label>
  <div class="form-fields">
    {{#if this.isCheckbox}}

    <input type="checkbox" name="{{this.scope}}.{{this.key}}" id="{{this.scope}}.{{this.key}}" data-dtype="Boolean"
      {{checked this.value}} />

    {{else if this.isSelect}}
    <select name="{{this.scope}}.{{this.key}}" id="{{this.scope}}.{{this.key}}" data-dtype="Number">
      {{#select this.value}}
      {{#each this.choices as |name k|}}
      <option value="{{k}}">{{k}} - {{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>

    {{/if}}
  </div>

  <p class="notes">{{this.hint}}</p>
</div>
{{/inline}}

<form class="{{classes}}" autocomplete="off">
  <div class="main-content">
    <nav class="sheet-tabs tabs">
      <a class='item' data-tab='config'>{{localize 'DEV.configMenu.ConfigDebug'}}</a>
      <a class='item' data-tab='packages'>{{localize 'DEV.configMenu.PackageSpecific'}}</a>
      <a class='item' data-tab='performance'>{{localize 'DEV.configMenu.PerformanceTesting'}}</a>
    </nav>

    <section class='tab' data-tab='config'>
      <div class="form-group">
        <label for="overrideConfigDebug">{{localize 'DEV.settings.override-config-debug.Name'}}</label>

        <div class="form-fields">
          <input type="checkbox" name="overrideConfigDebug" id="overrideConfigDebug" data-dtype="Boolean" {{checked
            overrideConfigDebug}} />
        </div>

        <p class="notes">{{localize 'DEV.settings.override-config-debug.Hint'}}</p>
      </div>
      <hr />

      {{#each debugOverrideFormData}}
      {{> settingPartial}}
      {{else}}
      <p class="notes">{{localize 'DEV.configMenu.None'}}</p>
      {{/each}}


      <div class="flexrow">
        <button type='submit'><i class="fas fa-save"></i> {{localize 'SETTINGS.Save'}}</button>
        <button type='button' data-action="reset"><i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}</button>
      </div>
    </section>

    <section class='tab' data-tab='packages'>
      <p class="notes">{{localize 'DEV.configMenu.Hint'}}</p>

      <h2>{{localize 'DEV.configMenu.DebugMode'}}</h2>
      {{#each packageSpecificDebugFormData.boolean}}
      {{> settingPartial}}
      {{else}}
      <p class="notes">{{localize 'DEV.configMenu.None'}}</p>
      {{/each}}

      <h2>{{localize 'DEV.configMenu.LogLevel'}}</h2>
      {{#each packageSpecificDebugFormData.level}}
      {{> settingPartial}}
      {{else}}
      <p class="notes">{{localize 'DEV.configMenu.None'}}</p>
      {{/each}}


      <div class="flexrow">
        <button type='submit'><i class="fas fa-save"></i> {{localize 'SETTINGS.Save'}}</button>
        <button type='button' data-action="reset"><i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}</button>
      </div>
    </section>

    <section class='tab' data-tab='performance'>
      <p class="notes">{{localize 'DEV.configMenu.performance.hint'}}</p>

      <h2>{{localize 'DEV.configMenu.performance.actorCRUD.label'}}</h2>
      <div class='flexrow form-group'>
        <label>{{localize "Type"}}</label>
        <select name='actorCrud.type' data-dtype='String'>
          {{selectOptions actorTypes localize=true}}
        </select>
      </div>
      <div class="flexrow form-group">
        <label class="flexrow flex3" style="gap: 1em">
          {{localize 'DEV.iterations'}}
          <input type="number" data-dtype="Number" min="1" step="1" name="actorCrud.iterations" placeholder="1000"
            class="form-fields">
        </label>
        <button class="perf-action" data-action="actorCRUD">{{localize "DEV.configMenu.performance.run"}}</button>
      </div>
      <div class="flexrow form-group">
        <input type='checkbox' data-dtype='Boolean' checked=true>
        <label>{{localize 'DEV.synthetic'}}</label>
      </div>
      <p class="notes">{{localize 'DEV.configMenu.performance.actorCRUD.hint'}}</p>
    </section>
  </div>

</form>
